.input1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border: 2px solid #F2F2F2;
    margin-bottom: 18px;
    position: relative;
    padding: 5px 10px;
  }